.sidebar {
    display: none;
    flex-direction: column;
    width: 245px;
    height: 100vh;
    padding: 8px 12px 20px;
    border-right: 1px solid var(--border);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background);
    z-index: 10;
}

@media (min-width: 768px) {
    .sidebar {
        display: flex;
    }
}

.logo {
    padding: 25px 12px 16px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid transparent;
    border-radius: 12px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888) border-box;
    width: fit-content;
}

.navItems {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.2s;
    cursor: pointer;
    color: var(--foreground);
}

.navItem:hover {
    background-color: var(--secondary);
}

.navIcon {
    margin-right: 16px;
}

.navLabel {
    font-size: 16px;
}